* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  width: 100%;
  padding: 5.7rem 15rem 2rem;
  display: flex;
  flex-direction: column;
  color: #E4E5EA;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  font-size: 1.6rem;
  background-color: #0E1014;
  background-image: url("../assets/bg-desktop/purple_ball.png"), url("../assets/bg-desktop/red_ball.png"), url("../assets/bg-desktop/red_ball_small.png"), url("../assets/bg-desktop/purple_light.png"), url("../assets/bg-desktop/red_light.png");
  background-position: 64% 0, 38% 9%, 60% 59%, 55% -3%, -5% 20%;
  background-repeat: no-repeat;
}

a:link,
a:visited {
  color: currentColor;
  text-decoration: none;
}

.button {
  padding: 2.1rem 3.5rem;
  font-weight: 500;
  background-color: #4077F3;
  border: none;
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
}

.header {
  margin-bottom: 9.3rem;
  display: flex;
  justify-content: space-between;
}
.header .logo {
  width: 14rem;
  margin-right: 5.2rem;
}
.header .logo__icon {
  margin-bottom: 0.8rem;
}
.header .logo__icon img {
  min-width: 100%;
}
.header .logo__title {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.header .nav {
  padding-top: 0.4rem;
}
.header .nav__list {
  margin-right: 13.7rem;
  display: flex;
  gap: 3rem;
  list-style: none;
}
.header .nav__item {
  font-weight: 500;
}
.header__contacts {
  display: flex;
}
.header__phone {
  flex-shrink: 0;
  margin-right: 4.7rem;
  padding-top: 0.4rem;
  font-weight: 500;
}
.header__socials {
  padding-top: 0.4rem;
  display: flex;
  gap: 3rem;
  list-style: none;
}

.main {
  margin-bottom: 12.4rem;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
.main-box-title {
  flex-basis: 40rem;
}
.main-box-title__heading {
  margin-bottom: 3rem;
  font-size: 4.8rem;
  font-weight: 400;
}
.main-box-title__heading span {
  font-weight: 900;
  background-image: linear-gradient(to right, rgb(252, 176, 69), rgb(255, 63, 120));
}
.main-box-title__text {
  max-width: 30rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
}
.main-box-description {
  flex-basis: 30rem;
  text-align: end;
  padding-top: 1.5rem;
}
.main-box-description__heading {
  margin-bottom: 4rem;
  font-size: 1.8rem;
  font-weight: 500;
}
.main-box-description__heading span {
  letter-spacing: 0.09rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, rgb(252, 176, 69), rgb(253, 29, 29));
}
.main-box-description__container {
  display: grid;
  row-gap: 3.2rem;
  column-gap: 3rem;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 6.2rem;
}
.main-box-description__title {
  margin-bottom: 0.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.09rem;
}
.main-box-description__text {
  font-family: "Montserrat", sans-serif;
}
.main .text-gradient {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.footer {
  display: flex;
  margin-bottom: 3.1rem;
}
.footer__about {
  margin-right: 9.8rem;
}
.footer__subtitle {
  margin-bottom: 2rem;
  color: #656566;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4;
  letter-spacing: 0.07rem;
}
.footer__list {
  max-height: 14rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 5.2rem;
}
.footer__contacts {
  text-align: end;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.footer__contacts-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer__contacts-list li:last-child {
  margin-top: -0.6rem;
}
.footer__socials {
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.copyright {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  text-align: end;
}
.copyright p {
  margin-bottom: 0.5rem;
}
.copyright a {
  text-decoration: underline;
}/*# sourceMappingURL=styles.css.map */