* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  width: 100%;
  padding: 5.7rem 15rem 2rem;
  display: flex;
  flex-direction: column;
  color: #E4E5EA;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  font-size: 1.6rem;
  background-color: #0E1014;
  background-image: url("../assets/bg-desktop/purple_ball.png"), url("../assets/bg-desktop/red_ball.png"), url("../assets/bg-desktop/red_ball_small.png"), url("../assets/bg-desktop/purple_light.png"), url("../assets/bg-desktop/red_light.png");
  background-position: 64% 0, 38% 8.5%, 60% 59%, 55% -3%, -5% 20%;
  background-repeat: no-repeat;
}
@media screen and (max-width: 75em) {
  body {
    padding: 5.7rem 8rem 2rem;
  }
}
@media screen and (max-width: 56.25em) {
  body {
    padding: 3rem 4rem 1.5rem;
  }
}
@media screen and (max-width: 40em) {
  body {
    padding: 0 4rem 1.5rem;
  }
}
@media screen and (max-width: 30em) {
  body {
    padding: 0 1.6rem 6rem;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 20em) {
  body {
    background-position: 0 5.5rem;
  }
}
@media screen and (max-width: 20em) and (max-width: 20em) {
  body {
    background-image: url("../assets/bg-desktop/bg-mobile.png");
  }
}

a:link,
a:visited {
  display: block;
  color: currentColor;
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  color: rgb(252, 176, 69);
}

a:active {
  transform: scale(0.96);
}

a img:hover {
  filter: brightness(0) saturate(100%) invert(92%) sepia(19%) saturate(4807%) hue-rotate(324deg) brightness(101%) contrast(98%);
}

.button {
  padding: 2.1rem 3.5rem;
  font-weight: 500;
  background-color: rgb(64, 119, 243);
  border: none;
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  transition: all 0.2s;
}

.button:hover {
  background-color: rgba(64, 119, 243, 0.8);
  transform: translateY(-2px);
}

.button:active {
  background-color: rgb(64, 119, 243);
  transform: scale(0.96);
}

.header {
  margin-bottom: 9.3rem;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 56.25em) {
  .header {
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 40em) {
  .header {
    margin-bottom: 0;
    justify-content: center;
  }
}
.header .logo {
  width: 14rem;
  margin-right: 5.2rem;
}
@media screen and (max-width: 40em) {
  .header .logo {
    display: none;
  }
}
.header .logo__icon {
  margin-bottom: 0.8rem;
}
.header .logo__icon img {
  min-width: 100%;
}
.header .logo__title {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.header .nav {
  padding-top: 0.4rem;
  flex-grow: 1;
}
@media screen and (max-width: 75em) {
  .header .nav {
    flex-grow: 0;
  }
}
@media screen and (max-width: 40em) {
  .header .nav {
    padding-top: unset;
  }
}
.header .nav__list {
  display: flex;
  gap: 3rem;
  list-style: none;
}
@media screen and (max-width: 40em) {
  .header .nav__list {
    gap: 0;
  }
}
@media screen and (max-width: 56.25em) {
  .header .nav__list li:last-child {
    display: none;
  }
}
.header .nav__item {
  font-weight: 500;
}
@media screen and (max-width: 40em) {
  .header .nav__item {
    text-transform: uppercase;
    padding: 2rem 0.8rem;
  }
}
@media screen and (max-width: 30em) {
  .header .nav__item {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 22.5em) {
  .header .nav__item {
    font-size: 1.2rem;
  }
}
.header__contacts {
  display: flex;
}
@media screen and (max-width: 85em) {
  .header__contacts {
    flex-direction: column;
  }
}
@media screen and (max-width: 75em) {
  .header__contacts {
    display: none;
  }
}
.header__phone {
  flex-shrink: 0;
  margin-right: 4.7rem;
  padding-top: 0.4rem;
  font-weight: 500;
}
@media screen and (max-width: 85em) {
  .header__phone {
    margin-right: unset;
  }
}
.header__socials {
  padding-top: 0.4rem;
  display: flex;
  gap: 3rem;
  list-style: none;
}
@media screen and (max-width: 85em) {
  .header__socials {
    justify-content: flex-end;
  }
}

.main {
  margin-bottom: 12.4rem;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 56.25em) {
  .main {
    flex-direction: column;
  }
}
@media screen and (max-width: 40em) {
  .main {
    margin-bottom: 6rem;
    padding-top: 4rem;
  }
}
@media screen and (max-width: 20em) {
  .main {
    padding-top: 4.2rem;
  }
}
.main-box-title {
  flex-basis: 40rem;
}
@media screen and (max-width: 56.25em) {
  .main-box-title {
    flex-basis: unset;
    max-width: 40rem;
  }
}
@media screen and (max-width: 40em) {
  .main-box-title {
    max-width: 30rem;
  }
}
.main-box-title__heading {
  margin-bottom: 3rem;
  font-size: 4.8rem;
  font-weight: 400;
}
@media screen and (max-width: 40em) {
  .main-box-title__heading {
    margin-bottom: 1.5rem;
    font-size: 3.6rem;
  }
}
@media screen and (max-width: 20em) {
  .main-box-title__heading {
    margin-bottom: 1.7rem;
  }
}
.main-box-title__heading span {
  font-weight: 900;
  background-image: linear-gradient(to right, rgb(252, 176, 69), rgb(255, 63, 120));
}
.main-box-title__text {
  max-width: 30rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
}
.main-box-description {
  flex-basis: 30rem;
  text-align: end;
  padding-top: 1.5rem;
}
@media screen and (max-width: 56.25em) {
  .main-box-description {
    flex-basis: unset;
    max-width: 40rem;
    padding-top: 4.5rem;
    align-self: flex-end;
  }
}
@media screen and (max-width: 30em) {
  .main-box-description {
    text-align: unset;
  }
}
.main-box-description__heading {
  margin-bottom: 4rem;
  font-size: 1.8rem;
  font-weight: 500;
}
@media screen and (max-width: 40em) {
  .main-box-description__heading {
    margin-bottom: 2.2rem;
  }
}
.main-box-description__heading span {
  letter-spacing: 0.09rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, rgb(252, 176, 69), rgb(253, 29, 29));
}
@media screen and (max-width: 30em) {
  .main-box-description__heading span {
    text-transform: unset;
  }
}
@media screen and (max-width: 20em) {
  .main-box-description__heading span {
    letter-spacing: -0.03rem;
  }
}
.main-box-description__container {
  display: grid;
  row-gap: 3.2rem;
  column-gap: 3rem;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 6.2rem;
}
@media screen and (max-width: 40em) {
  .main-box-description__container {
    gap: 1rem;
  }
}
@media screen and (max-width: 30em) {
  .main-box-description__container {
    display: none;
  }
}
.main-box-description__title {
  margin-bottom: 0.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.09rem;
}
.main-box-description__text {
  font-family: "Montserrat", sans-serif;
}
.main-box-description__minigrid {
  display: none;
  list-style: none;
}
@media screen and (max-width: 30em) {
  .main-box-description__minigrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    row-gap: 1.4rem;
  }
  .main-box-description__minigrid-item {
    position: relative;
    padding-left: 1.4rem;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.065rem;
    font-size: 1.3rem;
  }
  .main-box-description__minigrid-item::before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 0.1rem;
    top: 0.7rem;
    left: 0;
    background: linear-gradient(to right, rgb(252, 176, 69), rgb(253, 29, 29));
  }
}
@media screen and (max-width: 20em) {
  .main-box-description__minigrid {
    grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
    column-gap: 1rem;
  }
}
@media screen and (max-width: 30em) {
  .main-box-description__button {
    display: none;
  }
}
.main .text-gradient {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.footer {
  display: flex;
  margin-bottom: 3.1rem;
}
@media screen and (max-width: 56.25em) {
  .footer {
    margin-bottom: 5rem;
    flex-direction: column;
    gap: 3rem;
  }
}
@media screen and (max-width: 30em) {
  .footer {
    padding-top: 4rem;
  }
}
.footer__about {
  margin-right: 9.8rem;
}
@media screen and (max-width: 85em) {
  .footer__about {
    margin-right: unset;
    flex-grow: 1;
  }
}
@media screen and (max-width: 22.5em) {
  .footer__menu {
    max-width: 12rem;
  }
}
.footer__subtitle {
  margin-bottom: 2rem;
  color: #656566;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 0.07rem;
}
@media screen and (max-width: 30em) {
  .footer__subtitle {
    margin-bottom: 2.1rem;
    font-size: 1.2rem;
    letter-spacing: 0.06rem;
  }
}
.footer__list {
  max-height: 14rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 5.2rem;
}
@media screen and (max-width: 85em) {
  .footer__list {
    column-gap: 2rem;
  }
}
@media screen and (max-width: 22.5em) {
  .footer__list {
    max-height: 16rem;
  }
}
@media screen and (max-width: 22.5em) {
  .footer__list {
    column-gap: 2.7rem;
  }
}
.footer__contacts {
  text-align: end;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 56.25em) {
  .footer__contacts {
    text-align: unset;
  }
}
.footer__contacts-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (max-width: 30em) {
  .footer__contacts-list {
    gap: 1rem;
  }
}
.footer__contacts-list li:last-child {
  margin-top: -0.6rem;
}
@media screen and (max-width: 20em) {
  .footer__phone {
    font-size: 1.6rem;
  }
}
.footer__socials {
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 1rem;
}
@media screen and (max-width: 56.25em) {
  .footer__socials {
    justify-content: unset;
  }
}
@media screen and (max-width: 20em) {
  .footer__socials {
    gap: 1.5rem;
    margin-bottom: 0.5rem;
  }
}

.copyright {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  text-align: end;
}
@media screen and (max-width: 56.25em) {
  .copyright {
    text-align: unset;
  }
}
.copyright p {
  margin-bottom: 0.5rem;
}
.copyright a {
  text-decoration: underline;
}/*# sourceMappingURL=styles.css.map */