* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px / 16px = 62.5%
}

body {
  min-height: 100vh;
  width: 100%;
  padding: 5.7rem 15rem 2rem;
  display: flex;
  flex-direction: column;
  color: $color-text-primary;
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.2;
  font-size: 1.6rem;
  background-color: $color-background;
  background-image: url("../assets/bg-desktop/purple_ball.png"),
    url("../assets/bg-desktop/red_ball.png"),
    url("../assets/bg-desktop/red_ball_small.png"),
    url("../assets/bg-desktop/purple_light.png"),
    url("../assets/bg-desktop/red_light.png");
  background-position: 64% 0, 38% 8.5%, 60% 59%, 55% -3%, -5% 20%;
  background-repeat: no-repeat;
}

a:link,
a:visited {
  display: block;
  color: currentColor;
  text-decoration: none;
  transition: all .2s;
  
}
a:hover {
  color: $color-link;
}

a:active {
  transform: scale(.96);
}

a {
  img:hover {
    filter: brightness(0) saturate(100%) invert(92%) sepia(19%) saturate(4807%) hue-rotate(324deg) brightness(101%) contrast(98%);
  } 
}


.button {
  padding: 2.1rem 3.5rem;
  font-weight: 500;
  background-color: $color-button;
  border: none;
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  transition: all .2s;
}

.button:hover {
  background-color: rgba(64, 119, 243, 0.8);
  transform: translateY(-2px);
}

.button:active {
  background-color: $color-button;
  transform: scale(.96);
}

