
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

$color-background: #0E1014;
$color-text-primary: #E4E5EA;
$color-text-secondary: #656566;
$color-button: rgba(64, 119, 243, 1);
$color-link: rgba(252, 176, 69, 1);
